#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R  &kp T                               &kp UP                &kp Y        &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LEFT_CONTROL  &kp A  &kp S  &kp D     &kp F  &kp G                     &kp LEFT  &kp ENTER  &kp RIGHT  &kp H        &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT    &kp Z  &kp X  &kp C     &kp V  &kp B        &kp SPACE              &kp DOWN              &kp N        &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                                &kp LGUI  &mo 1  &lt 2 SPACE                                               &lt 2 ENTER  &mo 3  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        NUMBER {
            display-name = "NUMBER";
            bindings = <
&tog 0  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                                &mmv MOVE_UP                     &kp COMMA  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0        &kp BSPC
&tog 2  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4          &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp DOT    &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp NUMBER_0  &td0
&trans  &td0          &td0          &trans        &trans        &td0          &td0                    &mmv MOVE_DOWN                   &td0       &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &td0          &td0
                                    &trans        &trans        &trans                                                                 &kp INS    &trans        &trans
            >;

            sensor-bindings = <&scroll_encoder>;
        };

        ONISI {
            display-name = "SYMBOL";
            bindings = <
&kp ESCAPE        &kp Q  &kp L  &kp U          &kp DOT  &kp COMMA                                   &mmv MOVE_UP                     &kp F    &kp W  &kp R          &kp Y  &kp P  &kp BACKSLASH
&kp LEFT_CONTROL  &kp E  &kp I  &kp A          &kp O    &kp SINGLE_QUOTE            &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp K    &kp T  &kp N          &kp S  &kp H  &kp MINUS
&kp LEFT_SHIFT    &kp Z  &kp X  &kp C          &kp V    &kp ASTERISK      &trans                    &mmv MOVE_DOWN                   &kp G    &kp D  &kp M          &kp J  &kp B  &kp EQUAL
                                &kp LEFT_META  &mo 1    &kp SPACE                                                                    &kp RET  &mo 3  &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp K_VOLUME_DOWN C_VOLUME_UP>;
            label = "ONISI";
        };

        SYMBOL {
            display-name = "ONISI";
            bindings = <
&kp ESCAPE        &kp Q  &kp L  &kp U         &kp PERIOD  &kp COMMA                                       &mmv MOVE_UP                     &kp EXCL   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOLLAR   &kp AMPERSAND  &kp GRAVE
&kp LEFT_CONTROL  &kp E  &kp I  &kp A         &kp O       &kp SINGLE_QUOTE                &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp AT     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT  &kp SEMICOLON  &kp SINGLE_QUOTE
&kp LEFT_SHIFT    &kp Z  &kp X  &kp C         &kp V       &kp ASTRK         &kp C_MUTE                    &mmv MOVE_DOWN                   &kp HASH   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp CARET    &kp SLASH      &kp EQUAL
                                &kp LEFT_GUI  &trans      &kp SPACE                                                                        &kp ENTER  &trans                &kp RIGHT_ALT
            >;

            sensor-bindings = <&scroll_encoder>;
            label = "SYMBOL";
        };
    };
};
